flows.json
[{"id":"a17a49e2.2db408","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"74683726.f96418","type":"debug","z":"a17a49e2.2db408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":120,"wires":[]},{"id":"b03cbf7f.8d903","type":"debug","z":"a17a49e2.2db408","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":280,"wires":[]},{"id":"f9f81936.130238","type":"watson-conversation-v1","z":"a17a49e2.2db408","name":"","workspaceid":"34d918c0-eafa-4f4f-97fc-acf019d098d1","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/1ba42311-e853-4715-afe4-883b481918c7","timeout":"","optout-learning":false,"x":420,"y":220,"wires":[["29e32adc.936c46","74683726.f96418"]]},{"id":"fed51fb3.134e2","type":"function","z":"a17a49e2.2db408","name":"","func":"//msg.payload = \n//[{\"input\":msg.payload.input[0].text}];\nmsg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":260,"wires":[["4cab3df5.81e7b4","f9f81936.130238"]]},{"id":"29e32adc.936c46","type":"function","z":"a17a49e2.2db408","name":"","func":"// msg. payload = msg.payload.output.text[0];\n// return msg;\n// payload.context.webhook_result_1.results[0].text\n// payload.context.webhook_result_1.results[1].text\n// payload.context.webhook_result_1.results\n// payload.context.webhook_result_1.passages[0].passage_text\n// str_detail = [];\n// for(i=0;i<msg.payload.context.webhook_result_1.passages.length;i++){\n//      str_detail = str_detail + msg.payload.context.webhook_result_1.passages[i].passage_text + \"\\n\";\n// }\n// msg.payload=str_detail;\n// return msg;\n\nmsg.payload.text=\"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n    msg.payload.text=msg.payload.text+msg.payload.context.webhook_result_1.results[i].text+\"\\n\";\n}\n    msg.payload=msg.payload.text;\n}\n\nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":300,"wires":[["4f3436c8.ce6ca8","b03cbf7f.8d903"]]},{"id":"9db4ad65.feea5","type":"ui_form","z":"a17a49e2.2db408","name":"","label":"","group":"c1bbdbc3.ed8cb8","order":2,"width":"6","height":"1","options":[{"label":"Enter your query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":180,"wires":[["fed51fb3.134e2"]]},{"id":"4f3436c8.ce6ca8","type":"ui_text","z":"a17a49e2.2db408","group":"317f4f54.8523f","order":4,"width":"18","height":"10","name":"","label":"Chatbot","format":"{{msg.payload}}","layout":"col-center","x":670,"y":400,"wires":[]},{"id":"4cab3df5.81e7b4","type":"ui_text","z":"a17a49e2.2db408","group":"c1bbdbc3.ed8cb8","order":3,"width":"6","height":"1","name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":230,"y":380,"wires":[]},{"id":"c1bbdbc3.ed8cb8","type":"ui_group","z":0,"name":"Chat service","tab":"42d9d357.26973c","order":1,"disp":true,"width":"6","collapse":false},{"id":"317f4f54.8523f","type":"ui_group","z":"","name":"Answer_group","tab":"42d9d357.26973c","order":2,"disp":false,"width":"18","collapse":false},{"id":"42d9d357.26973c","type":"ui_tab","z":0,"name":"Customer Care","icon":"dashboard","disabled":false,"hidden":false}]